/* importando uma fonte ortografica do servidor do goggle */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap');

* {
    /* definição da estitlização completa na página */
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Work Sans', sans-serif;
}

.imagem-caixa-pokemon {
    /* estilização da caixa principal ( comportamento dos elementos sobre a iamgem ) */
    background-image: url(../assets/tela-principal.jpg);
    height: 150vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    object-fit: cover;
    overflow: hidden;
}


.coloracao-imagem-caixa-pokemon {
    /* coloração por cima da imagem principal */
    background-color: rgba(0, 0, 0, 0.733);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* estilização do audio */
.audio-pokedex {
    text-align: right;
}

.audio-pokedex audio {
    color: black;
    width: 150px;
    height: 50px;
    margin: 15px;
}

/* estilização do cabeçalho da pagina */
.article-cabecalho-da-pagina {
    position: relative;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 150px;
    animation: moveBanner 1s 0.5s forwards;
}
@keyframes moveBanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.article-cabecalho-da-pagina figure img {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100px;
}

.article-cabecalho-da-pagina p {
    font-size: 20px;
}

.article-cabecalho-da-pagina h2 {
    font-size: 35px;
    color: rgb(255, 255, 0);
}

/* estilização sobre as regras do jogo */
.article-regras-do-jogo {
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.article-regras-do-jogo p {
    margin-top: 10px;
    margin-bottom: 5px;
}

/* estilização do botão funcional que levará para outra pagina da aplicação*/
.article-botao-Iniciar {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
a:hover, button:hover {
    background: linear-gradient(0deg, rgba(186,195,34,1) 0%, rgba(253,187,45,1) 100%);
    transition: ease-in-out;
    animation: botaoAnimacao 1.5s;
}
@keyframes botaoAnimacao {
    0% { scale: 1.1;}
    33% { scale: 2.0; }
    85% { background: #b9b608; color: rgb(0, 0, 0); }
    100% { background:rgba(186,195,34,1) ; color: rgb(0, 0, 0); }
  }
.article-botao-Iniciar a, .btnClickLandPage{
    background-color: rgba(0, 0, 0, 0.623);
    color: #fff;
    border-radius: 40px;
    padding: 25px;
    cursor: pointer;
    text-decoration: none;
}

/* estilização do rodapé da pagina */
.rodape-pagina {
    background-color: rgba(0, 0, 0, 0.719);
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.rodape-pagina div {
    margin: 0 auto;
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
}
/* estilização do game.html - gamificação da nossa pagina web */
.inicio-jogo-pokemon {
    background-color: rgba(0, 0, 0, 0.788);
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.inicio-jogo-pokemon p:first-child {
        font-weight: bolder;
}
.pokemon-jogador, .pokemon-vilao {
    background-color: rgba(255, 255, 255, 0.781);
    color: #000;
    padding: 25px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
}
.botoes-jogo-pokemon button {
    background-color: rgba(0, 0, 0, 0.801);
    color: #fff;
    border-radius: 40px;
    padding: 25px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}
/* subtitulo - esccolha seu pokemon */
.subtitulo {
    margin-bottom: 15px;
    margin-top: 15px;
}
.backgroundRed {
    animation: fundoVermelho 3.5s;
}
.backgroundGren {
    animation: fundoVerde 3.5s;
}
@keyframes fundoVermelho {
    0% { background: transparent; color: #333;}
    33% { background: #c1272d; color: #FFF; }
    85% { background: #c1272d; color: #FFF; }
    100% { background: rgba(255, 255, 255, 0); color: #333; }
  }
  @keyframes fundoVerde {
    0% { background: transparent; color: #333;}
    33% { background: #1bbe23; color: #FFF; }
    85% { background: #1bbe23; color: #FFF; }
    100% { background: rgba(255, 255, 255, 0); color: #333; }
  }

